html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  display: flex;
  min-height: 100%;
  width: 100%;
}
footer {
  display: flex;
  position: relative;
  bottom: 0;
}
#root {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  display: flex;
  width: 100%;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.button-card {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.test {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 15%;
  padding: 10px;
}

.buttonCloseModal {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.divModalButton {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.modalButtonsArea {
  padding: 5px 0px 5px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.editButton {
  display: flex;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
}

.deleteButton {
  display: flex;
  background-color: red;
  border: none;
  border-radius: 5px;
}
